<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Main
    </ion-title>
  </ion-toolbar>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</ion-header>



<ion-content [fullscreen]="true">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0">
  <a class="navbar-brand"><img src="/assets/SCBC_Logo.png" class="mn-5 p-0 img-logo"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink] = "['../add']">Add Item</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link">Manage Inventories</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin()">
        <a class="nav-link" [routerLink] = "['../admin']">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<!--
TO DO:
  Create buttons for the appropriate actions in each Inventory (Inventory is done)
  -> Received = Confirm receipt, Flag item
  -> Inventory = Transfer item, Flag item
  -> Flagged = Notify Admin?

  Create APIs to transfer items, flag items, confirm receipt of items
  Make items a link and show popup with getItemMetaData


  Restyle Add Page?
-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <!-- Received -->
      <table class="center table table-dark table-bordered mb-0 mt-2">
        <thead>
          <tr>
            <td class="text-center">Received Items</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let n of _numbers">
            <td *ngIf="_my_received[n] != undefined">{{ getItemMetaData(_my_received[n]).type }}: {{ getItemMetaData(_my_received[n]).name }} <button type="button" class="btn btn-xs btn-danger ml-6"><i class="fas fa-flag text-white"></i></button><button type="button" class="btn btn-xs btn-success ml-1"><i class="fas fa-check text-white"></i></button></td>
            <td *ngIf="_my_received[n] == undefined">&nbsp;</td>
          </tr>
        </tbody>

      </table>
    </div>

    <div class="col-sm-4">
      <!-- Inventory -->

      <table class="center table table-dark table-bordered mb-0 mt-2">
        <thead>
          <tr>
            <td class="text-center">Inventory</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let n of _numbers">
            <td *ngIf = "_my_inventory[n] != undefined">{{ getItemMetaData(_my_inventory[n]).type }}: {{ getItemMetaData(_my_inventory[n]).name }} <button type="button" class="btn btn-xs btn-danger ml-6" (click) = 'flagItem(_my_inventory[n])'><i class="fas fa-flag text-white"></i></button><button type="button" class="btn btn-xs btn-primary ml-1"><i class="fas fa-long-arrow-alt-right text-white"></i></button></td>
            <td *ngIf = "_my_inventory[n] == undefined">&nbsp;</td>
          </tr>
        </tbody>

      </table>
    </div>

    <div class="col-sm-4">
      <!-- Flagged -->
      <table class="center table table-dark table-bordered mb-0 mt-2">
        <thead>
          <tr>
            <td class="text-center">Flagged Items</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let n of _numbers">
            <td *ngIf = "_my_flagged[n] != undefined">{{ getItemMetaData(_my_flagged[n]).type }}: {{ getItemMetaData(_my_flagged[n]).name }}</td>
            <td *ngIf = "_my_flagged[n] == undefined">&nbsp;</td>
          </tr>
        </tbody>

      </table>

    </div>

  </div>

</div>


</ion-content>
